body {
  margin: 0px;
  border: 0px;
  outline: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  font-family: sunflower;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
}

.slideshow {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slideshow ::-webkit-scrollbar {
  display: none;
}

.slideshow .slide {
  display: inline-block;
  vertical-align: top;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dot {
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  opacity: 0.33;
}

#scoreBoard-dots {
  position: relative;
  width: 100%;
}

#scoreBoard-dots .active {
  opacity: 1;
}

#scoreBoard-dots .dot {
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
}

#record-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Slide panels */
  /* Bottom bar with controls */
}

#record-container #record-panel {
  width: 100%;
  height: calc(100% - 4rem);
  white-space: nowrap;
  word-wrap: break-word;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  background-color: #c5c5c525;
}

#record-container #record-panel .panel {
  background-color: white;
  /* Vertical align: top fixes center stretch page bug */
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  margin: 0px;
  scroll-snap-align: start;
}

#record-container #record-panel .panel .panel-container {
  display: block;
  width: 100%;
  height: 100%;
}

#record-container #record-panel .panel .top-bar-tall {
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FF5F5F;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#record-container #record-panel .panel .top-bar-small {
  background-color: #FF5F5F;
  width: 100%;
  height: 5rem;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#record-container #record-panel .panel .top-bar-small .circle-image-small {
  margin: 1rem auto 1rem 1rem;
}

#record-container #record-panel .panel .scroll-list {
  display: block;
  height: 40%;
  width: 100%;
}

#record-container #record-panel .panel .circle-image-big {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  width: 20vh;
  height: 20vh;
  overflow: hidden;
  border-radius: 50%;
}

#record-container #record-panel .panel .circle-image-big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#record-container #record-panel .panel .circle-image-small {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  overflow: hidden;
  border-radius: 50%;
}

#record-container #record-panel .panel .circle-image-small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#record-container #record-panel .panel .points {
  font-family: Supermercado One;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin-top: 3vw;
}

#record-container #record-panel .panel .points h2 {
  font-size: 5.5rem;
  margin: 0px 4px 0px 0px;
}

#record-container #record-panel .panel .points h3 {
  font-size: 4rem;
  margin: 0px 4px 0px 0px;
}

#record-container #record-panel .panel .points p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#record-container #record-panel .panel .top-title {
  font-family: Supermercado One;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  font-size: 2rem;
}

#record-container #record-panel .panel .table3x7 {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: normal;
}

#record-container #record-panel .panel .table3x7 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vw 70vw;
      grid-template-columns: 30vw 70vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#record-container #record-panel .panel .table3x7 .header {
  text-align: left;
  color: #626262;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  border-bottom: 2px solid #DADADA;
}

#record-container #record-panel .panel .table3x7 .header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#record-container #record-panel .panel .table3x7 span {
  padding: 1rem 1.2rem 1rem 1.2rem;
  text-align: left;
}

#record-container #record-panel .panel .table3x7 span span {
  padding: 0px;
}

#record-container #record-panel .panel .table3x7 span:first-child {
  border-right: 2px solid #DADADA;
}

#record-container #record-panel .panel .table3x7 span span:first-child {
  border-right: 0px;
}

#record-container #record-panel .panel .table3x7 .row:nth-of-type(2) span {
  padding-top: 1rem;
}

#record-container #record-panel .panel .table3x7 .row:last-of-type {
  margin-bottom: 5rem;
}

#record-container #record-panel .panel .table3x7 .row span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#record-container #record-panel .panel .table3x7 .row span:first-child {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  color: #5E5E5E;
}

#record-container #record-panel .panel .table3x7 .row span:last-child {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  color: #8F8F8F;
}

#record-container #record-panel .panel .table3x7 .row .penalty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#record-container #record-panel .panel .table3x7 .row .penalty span {
  padding: 0px;
}

#record-container #record-panel .panel .table3x7 .row .penalty :first-child {
  border: none;
  margin-right: auto;
  color: #1E1313;
}

#record-container #record-panel .panel .table3x7 .row .penalty :last-child {
  color: #FF5F5F;
}

#record-container #record-panel .panel .table3x7 .row .penalty-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 0px 0px;
  padding-top: 0px;
}

#record-container #record-panel .panel .table3x7 .row .penalty-controls span {
  width: 33%;
  padding: 0px;
  text-align: center;
}

#record-container #record-panel .panel .table3x7 .row .penalty-controls .add, #record-container #record-panel .panel .table3x7 .row .penalty-controls .remove {
  padding: 0px;
  font-size: 2.5rem;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

#record-container #record-panel .panel .table3x7 .row .penalty-controls .add:not(:disabled), #record-container #record-panel .panel .table3x7 .row .penalty-controls .remove:not(:disabled) {
  color: #242424;
}

#record-container #record-panel .panel .table3x7 .row .penalty-controls .add:disabled, #record-container #record-panel .panel .table3x7 .row .penalty-controls .remove:disabled {
  color: #FF5F5F;
}

#record-container #record-panel .panel .table3x7 .row .penalty-controls .count {
  font-family: Supermercado One;
  color: #FF5F5F;
  font-size: 2rem;
  padding-top: 2px;
}

#record-container #record-panel .panel .table3x7 .flag {
  background-color: #9AF9A3;
}

#record-container #record-panel .panel .table3x7 .flag span:first-child, #record-container #record-panel .panel .table3x7 .flag span:last-child {
  color: #000000;
}

#record-container #record-panel .panel .table65x35 {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: normal;
}

#record-container #record-panel .panel .table65x35 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65vw 35vw;
      grid-template-columns: 65vw 35vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#record-container #record-panel .panel .table65x35 .header {
  text-align: left;
  color: #626262;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  border-bottom: 2px solid #DADADA;
}

#record-container #record-panel .panel .table65x35 .header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#record-container #record-panel .panel .table65x35 span {
  padding: 1rem 1.2rem 1rem 1.2rem;
  text-align: left;
}

#record-container #record-panel .panel .table65x35 span span {
  padding: 0px;
}

#record-container #record-panel .panel .table65x35 span:first-child {
  border-right: 2px solid #DADADA;
}

#record-container #record-panel .panel .table65x35 span span:first-child {
  border-right: 0px;
}

#record-container #record-panel .panel .table65x35 .row:nth-of-type(2) span {
  padding-top: 1rem;
}

#record-container #record-panel .panel .table65x35 .row:last-of-type {
  margin-bottom: 5rem;
}

#record-container #record-panel .panel .table65x35 .row span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#record-container #record-panel .panel .table65x35 .row span:first-child {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  color: #5E5E5E;
}

#record-container #record-panel .panel .table65x35 .row span:last-child {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  color: #8F8F8F;
}

#record-container #record-panel .panel .table65x35 .row .penalty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#record-container #record-panel .panel .table65x35 .row .penalty span {
  padding: 0px;
}

#record-container #record-panel .panel .table65x35 .row .penalty :first-child {
  border: none;
  margin-right: auto;
  color: #1E1313;
}

#record-container #record-panel .panel .table65x35 .row .penalty :last-child {
  color: #FF5F5F;
}

#record-container #record-panel .panel .table65x35 .row .penalty-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 0px 0px;
  padding-top: 0px;
}

#record-container #record-panel .panel .table65x35 .row .penalty-controls span {
  width: 33%;
  padding: 0px;
  text-align: center;
}

#record-container #record-panel .panel .table65x35 .row .penalty-controls .add, #record-container #record-panel .panel .table65x35 .row .penalty-controls .remove {
  padding: 0px;
  font-size: 2.5rem;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

#record-container #record-panel .panel .table65x35 .row .penalty-controls .add:not(:disabled), #record-container #record-panel .panel .table65x35 .row .penalty-controls .remove:not(:disabled) {
  color: #242424;
}

#record-container #record-panel .panel .table65x35 .row .penalty-controls .add:disabled, #record-container #record-panel .panel .table65x35 .row .penalty-controls .remove:disabled {
  color: #FF5F5F;
}

#record-container #record-panel .panel .table65x35 .row .penalty-controls .count {
  font-family: Supermercado One;
  color: #FF5F5F;
  font-size: 2rem;
  padding-top: 2px;
}

#record-container #record-panel .panel .table65x35 .flag {
  background-color: #9AF9A3;
}

#record-container #record-panel .panel .table65x35 .flag span:first-child, #record-container #record-panel .panel .table65x35 .flag span:last-child {
  color: #000000;
}

#record-container #record-panel .panel .title-pad span {
  font-size: 1.7rem;
  padding: 1rem 1.2rem 0.5rem 1.2rem;
}

#record-container #record-panel .panel .mini-points {
  font-family: Supermercado One;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#record-container #record-panel .panel .mini-points h4 {
  font-size: 2rem;
  margin: 0px 4px 0px 0px;
  font-weight: 400;
}

#record-container #record-panel .panel .mini-points p {
  font-size: 1rem;
  margin: 4px 0px 0px 0px;
}

#record-container #bottomBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF5F5F;
  width: 100%;
  height: 4rem;
}

#record-container #bottomBar button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 2px solid #F0CBCB;
  border-right: 2px solid #F0CBCB;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}

#record-container #bottomBar button span {
  font-size: 2rem;
  color: #FFF5F5;
}

#record-container #bottomBar .active {
  background-color: #E73838;
}

#record-container #bottomBar button:first-Child {
  border-left: 0px;
}

#record-container #bottomBar button:last-Child {
  border-right: 0px;
}
/*# sourceMappingURL=index.css.map */