@mixin sunflower {
    font-family: sunflower;
}

@mixin supermercado {
    font-family: Supermercado One;
}

@mixin circle-image {
    overflow: hidden;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

body {
    margin: 0px;
    border: 0px;
    outline: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    @include sunflower;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.slideshow {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .slide {
        display: inline-block;
        vertical-align: top;
        scroll-snap-align: start;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;

        .player:active {
            filter: brightness(0.8);
        }
        .player {
            width: calc(100% - 1rem);
            margin: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #c4c4c45e;

            .icon {
                margin-right: 0.5rem;
                margin-left: auto;
                height: 3rem;
                width: 3rem;
                @include circle-image;
            }

            .name {
                margin: 0.5rem;
                width: fit-content;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                span {
                    text-align: left;
                    line-height: 1.3rem;
                }
                :nth-child(1) {
                    padding-top: 4px;
                    font-size: 1.5rem;
                    color: #00000070;
                }
                :nth-child(2) {
                    font-size: 0.9rem;
                    color: #626262;
                }
            }

            .score {
                font-size: 2rem; 
                line-height: 2rem;
                margin: 1rem 1rem 1rem 1rem;
            }
        }

        .add {
            margin: 0.5rem;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #c4c4c45e;
            height: 4.25rem;
        }

        .headline {
            position: sticky;
            top: 0px;
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 500;
            font-size: 1.6rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);

            background: rgba(255, 255, 255, 0.315);
            backdrop-filter: blur(7px);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);

            * {
                padding: 0.5rem 1rem 0.5rem 1rem;
            }

            .material-icons:focus, button:focus {
                border-radius: 100px;
                background-color: #60606025;
            }
            
            
            .material-icons {   
                margin-right: auto;
            }
        }

        .content {
            scroll-snap-align: start;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: calc(100% - 6rem);
            margin-top: 20vh;
            margin-bottom: 20vh;
            padding-top: 4rem;
            width: 100%;
        }

        .pill { 
            width: 100%;
            height: 3rem;
            padding: 0rem 1rem 0rem 1rem;
            color: #363636fd; 
            font-size: 1.4rem;
            @include sunflower;
 
            border-top: 2px solid #4949491e;
            border-bottom: none;
            margin: 0px; 

            display: flex;
            align-items: center; 
            background: #f5f5f5;
 
            input[type=text]:focus {
                text-align: left;
            }
            input[type=text] {
                transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
                margin: 0rem 1rem 0rem 3rem;
                font-size: 1.4rem;
                width: 80%;
                background-color: transparent;
                border: none;
                text-align: right;
            }

            input[type=file] {
                display: none;
            }

            span, img {
                margin-left: 1rem;
            }

            img {
                height: calc(100% - 8px);
                object-fit: cover;
                object-position: top;
            }


            .material-icons, .material-icons-outlined {
                margin: 0rem;
            }

        }

        .pillend {
            border-bottom: 2px solid #4949491e;
        }

        .pill:active {
            filter: brightness(0.9);
        }


        .pill.save {
            position: sticky;
            display: none;
            align-items: center;
            justify-content: center;
            top: 100%;
            opacity: 0;
            height: 3.5rem;
            font-size: 1.5rem;
            background: #00ff1a54;
            backdrop-filter: blur(7px);
            transition: top 1500ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);

            .material-icons {
                font-size: 2rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        .pill.save:disabled {
            filter: grayscale(1)
        }

        .subheader {
            @include sunflower;
            text-align: left;
            width: calc(100% - 2rem);
            padding: 0rem;
            color: #adacac;
            font-weight: 800;
            font-size: 1rem;
            margin: 1rem 1rem 0.5rem 1rem;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dot {
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    opacity: 0.33;
}

#scoreBoard-dots {
    position: relative;
    width: 100%;
    .active {
        opacity: 1;
    }
    .dot {
        margin: 1.5rem 0.5rem 1.5rem 0.5rem;
    }
}
#penalties-bottom {
    height: calc(100% - 9rem);
    overflow: hidden;
}

#settings-bottom {
    height: calc(100% - 5rem);
    white-space: nowrap;
    word-wrap: break-word;
}


$barHeight: 4rem;
$sectionHeight: calc(100% - 4rem);
#record-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* Slide panels */
    #record-panel {    
        width: 100%;
        height: $sectionHeight;
        white-space: nowrap;
        word-wrap: break-word;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        background-color: #c5c5c525;

        .panel {    
            background-color: white;
            /* Vertical align: top fixes center stretch page bug */
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 100%;
            margin: 0px;
            scroll-snap-align: start;

            .panel-container {
                display: block;
                width: 100%;
                height: 100%;
            }

            .top-bar-tall {
                display: block;
                width: 100%;
                height: fit-content;
                background-color: #FF5F5F;
                color: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            }

            .top-bar-small {
                background-color: #FF5F5F;
                width: 100%;
                height: 5rem;
                color: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            
                .circle-image-small {
                    margin: 1rem auto 1rem 1rem;
                }
            }

            .scroll-list {
                display: block;
                height: 40%;
                width: 100%;
            }

            .circle-image-big {
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                width: 20vh;
                height: 20vh;
                @include circle-image;
            }

            .circle-image-small {
                width: 3rem;
                height: 3rem;
                margin: 1rem;
                @include circle-image;
            }

            @mixin points {
                @include supermercado;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }
            .points {
                @include points;
                text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
                margin-top: 3vw;

                h2 {
                    font-size: 5.5rem;
                    margin: 0px 4px 0px 0px;
                } 

                h3 {
                    font-size: 4rem;
                    margin: 0px 4px 0px 0px;
                }

                .center {
                    width: 220px;
                    margin-left: calc(50vw - 110px);
                    text-align: left;
                }

                p {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
            }

            .top-title {
                @include supermercado;
                text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
                margin: 1rem;
                margin-left: auto;
                font-size: 2rem;
                text-align: right;
            }


            @mixin table ($dimension...){
                width: 100%;
                max-height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                white-space: normal;

                div {
                    display: grid;
                    grid-template-columns: $dimension;
                    height: fit-content;
                }

                .header {
                    text-align: left;
                    color: #626262;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    border-bottom: 2px solid #DADADA;
                    
                    span {
                        display: flex;
                        align-items: center;
                    }
                }

                span {
                    padding: 1rem 1.2rem 1rem 1.2rem;
                    text-align: left;
                }

                span span {
                    padding: 0px;
                }

                span:first-child {
                    border-right: 2px solid #DADADA;
                }

                span span:first-child {
                    border-right: 0px;
                }

                .row:nth-of-type(2) span {
                    padding-top: 1rem;
                }
                
                .row:last-of-type {
                    margin-bottom: 5rem;
                }

                .row {
                    span {
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                    }
                    
                    span:first-child {
                        font-size: 1.3rem;
                        font-style: normal;
                        font-weight: 300;
                        color: #5E5E5E;
                    }
                    span:last-child {
                        font-size: 1.3rem;
                        font-style: normal;
                        font-weight: 300;
                        color: #8F8F8F;
                    }

                    .penalty {
                        display: flex;

                        span {
                            padding: 0px;
                        }

                        :first-child {
                            border: none;
                            margin-right: auto;
                            color: #1E1313;
                        }

                        :last-child {
                            color: #FF5F5F;
                        }
                    }

                    .penalty-controls {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0px 0px 0px 0px;
                        padding-top: 0px;

                        span {
                            width: 33%;
                            padding: 0px;
                            text-align: center;
                        }   
                        .add, .remove {
                            padding: 0px;
                            font-size: 2.5rem;;
                        }

                        .add:not(:disabled), .remove:not(:disabled) {
                            color: #242424;
                        }

                        .add:disabled, .remove:disabled {
                            color: #FF5F5F;
                        }

                        .count {
                            @include supermercado;
                            color: #FF5F5F;
                            font-size: 2rem;
                            padding-top: 2px;
                        }
                    }
                }

                .flag {
                    background-color: #9AF9A3;

                    span:first-child, span:last-child {
                        color: #000000;
                    }
                    
                }
            }

            .table3x7 {
                @include table(30vw 70vw)
            }

            .table65x35 {
                height: 100%;
                @include table(65vw 35vw)
            }


            .penalties-alert-container {
                z-index: 2;
                width: 100%;
                height: calc(100% + 5rem);
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
                bottom: 100%;

                .alert {
                    width: 85%;
                    height: 1rem;
                    padding: 1rem;
                    pointer-events: all;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                    background: #ff53537a;
                    backdrop-filter: blur(7px);
                    transition: margin 1000ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    margin-bottom: 0rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    :first-child {
                        margin-right: auto;
                    }

                    * {    
                        background: transparent;
                        font-size: 1.5rem;
                    }

                    .material-icons-outlined {
                        font-size: 2rem;
                    }
                }
            }

            .title-pad span {
                font-size: 1.7rem;
                font-weight: 1000;
                padding: 1rem 1.2rem 0.5rem 1.2rem;
            }
            
            .mini-points {
                @include points;
                h4 {
                    font-size: 2rem;
                    margin: 0px 4px 0px 0px;
                    font-weight: 400;
                }
                p {
                    font-size: 1rem;
                    margin: 4px 0px 0px 0px;
                }
            }

            .subbottom-content {
                height: 4rem;
                width: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #E2E2E2;
                box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);

                @include supermercado;
                * {
                    font-size: 2rem;
                    margin: 0.5rem 1rem 0.5rem 1rem;
                    color: #606060;
                }

                button, input, label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    padding: 0rem;
                    margin: 0.5rem 0rem 0.5rem 0rem;
                }

                .material-icons, .material-icons-outlined {
                    font-size: 2.5rem;
                    margin: 0rem;
                }

                .pause-clock.material-icons, .unpause-clock.material-icons {
                    color: #FF5F5F;
                }

                :last-child {
                    margin-right: 0.5rem;
                }

                
                :first-child {
                    margin-left: 0.5rem;
                    margin-right: auto;
                }
            }
        }
    }

    /* Bottom bar with controls */
    #bottomBar {
        display: flex;

        background-color: #FF5F5F;
        width: 100%;
        height: $barHeight;

        button {
            flex-grow: 1;
            border-left: 2px solid #F0CBCB;
            border-right: 2px solid #F0CBCB;
            box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);

            span {
                font-size: 2rem;
                color: #FFF5F5;;
            }
        }
        .active {
            background-color: #E73838;
        }

        button:first-Child {
            border-left: 0px;
        }
        
        button:last-Child {
            border-right: 0px;
        }
    }    

}
